# IDEs:
## Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## Eclipse
.project

## Assignment submissions
assignment*.zip