<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metamodelHCL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="metamodelHCL.presentation.MetamodelHCLModelWizardID"
            name="%_UI_MetamodelHCLModelWizard_label"
            class="metamodelHCL.presentation.MetamodelHCLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetamodelHCLModelFile.gif">
         <description>%_UI_MetamodelHCLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metamodelHCL -->
      <editor
            id="metamodelHCL.presentation.MetamodelHCLEditorID"
            name="%_UI_MetamodelHCLEditor_label"
            icon="icons/full/obj16/MetamodelHCLModelFile.gif"
            extensions="metamodelhcl"
            class="metamodelHCL.presentation.MetamodelHCLEditor"
            contributorClass="metamodelHCL.presentation.MetamodelHCLActionBarContributor">
      </editor>
   </extension>

</plugin>
